##################
# UNWANTED FILES #
##################
._*
*.gz
*.7z
*.mov
*.mp4
*.mp3
*.dmg
*.iso
*.jar
*.rar
*.tar
*.zip
*.log
*.env
*.bat
*.lnk
cg20.*
*.rest
env.json
thumbs.db
Thumbs.db
*env.json
desktop.ini
*config*.json
static/*.json
*.pdf
sea-*.*
pro--*.*
PRO--*.*

## Temp files or drafts
zzz*.*
ORG*.*


############################
# UNWANTED GENERAL FOLDERS #
############################
viz/
bin/
notes/
notes2/
Distro/
DEV_*/**
DEF_*/**
.Trashes
.vscode/
ZIP_TEMP/
#DATAROOT*
.DS_Store
pkg-builds/
zip_builds/
kubernetes/
node_modules/
.VSCodeCounter/
.Spotlight-V100
static/templateviewer/
CONTENT_REPOSITORIES*/**
spx-content-repo.txt


# IGNORE SOME FOLDERS IN SPX DATAROOT
DATAROOT/LOG/

# ...but allow specific files and folders for GitHub
!DATAROOT/MyFirstProject/
!DATAROOT/SM2025/

locales/**
screenshots/**