<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="./spx_styles.css">
        <link rel="stylesheet" href="table_style.css">
        <script src="./spx_parse.js"></script>
        <title>My SPX Table Template</title>

        <script>
            function runAnimationIN() {
                // basic animation by swapping the CSS class
                document.getElementById('f100').classList = "fadeIN"
                document.getElementById('data-table').classList = "fadeIN"
                document.getElementsByClassName('ListAsTable').classList = "fadeIN"
            }

            function runAnimationOUT() {
                // basic animation by swapping the CSS class
                document.getElementById('f100').classList = "fadeOUT"

            }
        </script>

        <script>
            window.SPXGCTemplateDefinition = {
                "description": "My first template",
                "playserver": "OVERLAY",
                "playchannel": "1",
                "playlayer": "7",
                "webplayout": "7",
                "out": "manual",
                "uicolor": "2",
                "DataFields": [
                    {
                        "field" : "f100",
                        "ftype" : "textfield",
                        "title" : "Message",
                        "value" : "Hello World!"
                    }
                ]
            };
        </script>
    </head>

    <body>
        <div class="SPXWindow">
            <div class="ListAsTable">
            <table id="data-table">
                <thead>
                <!-- Column headers will be populated dynamically via JavaScript -->
                </thead>
                <tbody>
                <!-- Rows will be populated dynamically via JavaScript -->
                </tbody>
            </table>
            </div>
            <script src="load_dyn_data_table.js"></script>
        </div>
    </body>

</html>
