<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <title>Graphics - Name tag Left</title>
    <link rel="stylesheet" href="css/style.css" />
    <script type="text/javascript" src="js/lib/anime.min.js"></script>
    <script type="text/javascript" src="js/spx_interface.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      id="DynamicTheme"
      href="css/themes/Default.css"
    />
    <script type="text/javascript" src="js/lib/anime.min.js"></script>
    <script>
      function runAnimationIN() {
        // basic animation by swapping the CSS class
        document.getElementById("gfx").classList = "fadeIN";
        animate(".container", { left: "calc(7.75rem * 2)" });
      }
      function runAnimationOUT() {
        // basic animation by swapping the CSS class
        document.getElementById("gfx").classList = "fadeOUT";
        animate(".container", { left: "calc(-7.75rem * 2)" });
      }
    </script>
    <script>
      window.SPXGCTemplateDefinition = {
        description: "Nametag Left",
        playserver: "OVERLAY",
        playchannel: "1",
        playlayer: "2",
        webplayout: "2",
        out: "manual",
        uicolor: "3",
        DataFields: [
          {
            field: "f0",
            ftype: "textfield",
            title: "Namn",
            value: "",
          },
          {
            field: "f1",
            ftype: "textfield",
            title: "Info 1 ex. Klubb",
            value: "",
          },
          {
            field: "f2",
            ftype: "textfield",
            title: "Info 2 ex. Klass",
            value: "",
          },
        ],
      };
    </script>
  </head>
  <body class="lowerThirdLeft">
    <div id="gfx">
      <div class="container">
        <div class="graphic">
          <div class="logo"><img src="images/sun_logo.png" alt="" /></div>
          <div class="data">
            <div class="title" id="f0"></div>
            <div class="metaData">
              <div class="first" id="f1"></div>
              <div class="second" id="f2"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
