<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8" />
        <script type="text/javascript" src="js/spx_interface.js"></script>
        <link rel="stylesheet" type="text/css" href="css/styles.css" />
        <link rel="stylesheet" type="text/css" id="DynamicTheme" href="themes/News.css" />
        <title>My Welcome to SM template</title>

        <script>
            function runAnimationIN() {
                // basic animation by swapping the CSS class
                document.getElementById('f0').classList = "fadeIN"
            }

            function runAnimationOUT() {
                // basic animation by swapping the CSS class
                document.getElementById('f0').classList = "fadeOUT"
            }
        </script>

        <!-- A template definition object for SPX. -->
        <!-- Place it as the LAST item within the HEAD section -->

        <script type="text/javascript">
            window.SPXGCTemplateDefinition = {
                "description": "My Welcome to SM template",
                "playserver": "OVERLAY",
                "playchannel": "1",
                "playlayer": "7",
                "webplayout": "7",
                "out": "manual",
                "uicolor": "2",
                "dataformat": "json",
                "DataFields": [
                    {
                        "field" : "comment",
                        "ftype" : "textfield",
                        "title" : "A fullscreen start list in the middle of the screen",
                        "value" : "[ NR NAMN KLUBB STARTTID ]"
                    },
                    {
                        "ftype" : "instruction",
                        "value" : "You can leave any field empty. This is a fullscreen overlay with a News theme."
                    },
                    {
                        "field" : "f0",
                        "ftype" : "textfield",
                        "title" : "Number",
                        "value" : "999"
                    },
                    {
                        "field" : "f1",
                        "ftype" : "textfield",
                        "title" : "Fullname",
                        "value" : "Hälge Hälgesson"
                    },
                    {
                        "field" : "f2",
                        "ftype" : "textfield",
                        "title" : "Club",
                        "value" : "OK Älgen"
                    },
                    {
                        "field" : "f4",
                        "ftype" : "textfield",
                        "title" : "Starttime",
                        "value" : "12:00"
                    },
                    {
                        "field" : "f11",
                        "ftype" : "textarea",
                        "title" : "Multiline text",
                        "value" : "Första Löparen\nAndra Löparen\nTredje Löparen\nFjärde Löparen"
                    },
                    {
                        "field": "f99",
                        "ftype": "filelist",
                        "title": "Visual theme",
                        "assetfolder" : "./themes/" ,
                        "extension" : "css",
                        "value": "./themes/News.css",
                    }
                ]
            };
        </script>
    </head>

    <body>
        <div class="SPXWindow"> 
            <div id="f0"></div><div id="f1"></div><div id="f2"></div><div id="f4"></div>
            <div id="f11"></div>
        </div>
        
    </body>

</html>
