<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="./spx_styles.css" />
    <!--
    <script src="./spx_parse.js"></script>
  -->

    <title>TyrClock Demo</title>
    <style>
      #clock,
      #clock2 {
        font-family: sans-serif;
        font-size: 3em;
        text-align: center;
        margin-top: 20vh;
        /* Pertti: */
        /*opacity: 1 !important;*/
        background-color: #b30404;
      }
    </style>

    <script>
      function runAnimationIN() {
        // basic animation by swapping the CSS class
        //document.getElementById("f0").classList = "fadeIN";
        document.getElementById("clock").classList = "fadeIN";
        document.getElementById("clock2").classList = "fadeIN";
      }

      function runAnimationOUT() {
        // basic animation by swapping the CSS class
        //document.getElementById("f0").classList = "fadeOUT";
        document.getElementById("clock").classList = "fadeOUT";
        document.getElementById("clock2").classList = "fadeOUT";
      }
    </script>

    <!-- A template definition object for SPX. -->
    <!-- Place it as the LAST item within the HEAD section -->

    <script type="text/javascript">
      window.SPXGCTemplateDefinition = {
        description: "My Welcome to SM template",
        playserver: "OVERLAY",
        playchannel: "1",
        playlayer: "7",
        webplayout: "7",
        out: "manual",
        uicolor: "2",
        dataformat: "json",
        DataFields: [
          {
            field: "f0",
            ftype: "textfield",
            title: "Message",
            value: "Välkommen till SM i Orientering 2025!",
          },
        ],
      };
    </script>
  </head>

  <body>
    <div id="clock2"></div>

    <div class="SPXWindow">
      <div id="f0"></div>

      <div id="clock"></div>

      <!-- Include your clock.js file -->
      <script src="/js/lib/tyrclock.js"></script>
      <!-- Your application script ??? -->
      <script src="./spx_parse.js"></script>
      <!--
      <script src="/js/lib/spx_interface.js"></script>
    --></div>
  </body>
</html>
