<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="./spx_styles.css">
        <script src="./spx_parse.js"></script>
        <title>My First SPX Template</title>

        <script>
            function runAnimationIN() {
                // basic animation by swapping the CSS class
                document.getElementById('f0').classList = "fadeIN"
            }

            function runAnimationOUT() {
                // basic animation by swapping the CSS class
                document.getElementById('f0').classList = "fadeOUT"
            }
        </script>

        <!-- An example template definition object for SPX. -->
        <!-- Place it as the last item within the HEAD section -->

        <script>
            window.SPXGCTemplateDefinition = {
                "description": "Top left with icon",
                "playserver": "OVERLAY",
                "playchannel": "1",
                "playlayer": "7",
                "webplayout": "7",
                "steps" : "1",
                "out": "manual",
                "uicolor": "2",
                "dataformat": "json",
                "DataFields": [
                    {
                        "ftype" : "instruction",
                        "value" : "An example demo template definition. Learn what it does and make use of it's capabilities."
                    },
                    {
                        "field": "f7",
                        "ftype": "button",
                        "title": "Click me",
                        "descr": "Describe button function here",
                        "fcall": "myCustomHello('world')"
                    },
                    {
                        "ftype": "spacer"
                    },
                    {
                        "field": "f8",
                        "ftype": "color",
                        "title": "Text color",
                        "value": "rgba(255, 255, 255, 1.0)"
                    }
                ]
            };
        </script>

</head>

<body>
    <div class="SPXWindow"> 
       
        <div id="f7"></div>
    </div>
</body>

</html>